body, html{
    height: auto;
    margin: 0;
    min-height: 100%;
}
#sidesContainer{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    background-color: rgb(233, 228, 228);

}
#leftSide{
    background-color: white;
    max-height: 25%;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

#rightSide{
    background-color: white;
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    min-height: 25vh;
    height: auto;
    
   
}

